body{
  overflow-x: hidden;
}
#logo{
  margin-top: 3px;
  pointer-events: auto;
  cursor: pointer;
}
a, a:hover, a:visited, a:link, a:active{
  color:inherit;
  text-decoration: none !important;
}
.navbar-default{
  /*pointer-events: none;*/
  background: none !important;
  background-color: transparent !important;
  border: none;
  z-index: 9000;
  margin-bottom: 0px;
}
.dropdown-toggle{
  color: white !important;
}
.dropdown-toggle:hover{
  color: #687C87 !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background: none !important;
  background-color: transparent !important;
}
.navbar-brand{
  padding-left: 50px;
}
.navbar-left{
  pointer-events: auto;
  cursor: pointer;
  font-weight: regular;
  letter-spacing: 0.8px;
  color: white !important;
}
.navbar-right{
  pointer-events: auto;
  cursor: pointer;
  font-weight: regular;
  letter-spacing: 0.8px;
  color: #868686 !important;
}
.navbar-left:hover{
  color: #5D787A !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
 .bx-viewport{
   left:0px !important;
   /*height:100% !important;*/
   border-radius: 20px;
 }

 .padding-xs{
   padding: 5px 5px !important;
 }
  .padding-sm{

  }
